<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Cooperativas de Reciclagem</title>
    <link rel="stylesheet" type="text/css" href="styles/cadastro.css" />

</head>

<body>
  <div class="menu">
    <h1 class="titulo__menu">Cooperativas de Campinas</h1>
    <a href="/"><h3 class="item__menu">Home</h3></a>
    <a href="/minhasCooperativas"><h3 class="item__menu">Minhas cooperativas</h3></a>
</div>
        <div class="cadastro-form">
            <form class="form" action="/cooperativa/editar?id=<%= cooperativa[0].id %>" method="post">
              <div class="container-cadastro">
                <h3 class='titulo'>Editar Cooperativas</h3>
              <label>Nome </label><br/>
                <input class='input-texto' 
                type="text" name="nome" value="<%= cooperativa[0].nome %>">    
              </div>
              <div class="container-cadastro">
                <label>Endereço </label><br/>
                <input class='input-texto' 
                type="text" name="endereco" value="<%= cooperativa[0].endereco %>"> 
              </div>
              <div class="container-cadastro">
                <label>Início das operações </label><br/>
                <input class='input-texto' 
                type="text" name="dataInicio" value="<%= cooperativa[0].dataInicio %>"> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade colaboradores </label><br/>
                <input class='input-texto' 
                type="text" name="colaboradores" value="<%= cooperativa[0].colaboradores %>"> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade rejeitos </label><br/>
                <input class='input-texto' 
                type="text" name="rejeitos" value="<%= cooperativa[0].rejeitos %>"> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade triagem </label><br/>
                <input class='input-texto' 
                type="text" name="triagem" value="<%= cooperativa[0].triagem %>"> 
              </div>
              <div class="container-cadastro">
                <label>Foto </label><br/>
                <input class='input-texto' 
                type="text" name="foto" value="<%= cooperativa[0].foto %>"> 
              </div>
              <div class="botao-container">
                <input type="submit" />
              </div>
            </form>
          </div>
</body>

</html>