<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperativas de Campinas</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css"/>
    <link rel="icon" type="image/ico" href="images/reciclar.png"/>
</head>
<body>
    
    <div class="menu">
        <h1 class="titulo__menu">Cooperativas de Campinas</h1>
        <% if(user) { %>
            <a href="/cadastro"><h3 class="item__menu">Cadastro</h3></a>
            <a href="/minhasCooperativas"><h3 class="item__menu">Minhas cooperativas</h3></a>
            <a href="/logout"><h3 class="item__menu">Sair</h3></a>
            <h2><%= user %></h2>
        <% } else { %>
        <a href="/login"><h3 class="item__menu">Login</h3></a>
        <% }%>

    </div>
        <section class="secao">
        <div class="item">
            <% for (let i=0; i<cooperativas.length; i++) { %>
                <div class="item__imagem">
                    <img src="<%= cooperativas[i].foto %>" with="300px" height="200px"
                    alt="<%= cooperativas[i].nome %>"
                    />
                </div>
                    <div class="item__descricao">
                        <h2 class="item__titulo">
                            <%= cooperativas[i].nome %>
                        </h2>
                        <p >
                            Localização: <%= cooperativas[i].endereco %> <br/> <br/>
                            Possuí <%= cooperativas[i].colaboradores %> colaboradores <br/> <br/>
                            Realiza a triagem de <%= cooperativas[i].triagem %> toneladas de resíduos de lixo por mês. 
                            Deste montante <%= cooperativas[i].rejeitos %> são descartados como rejeitos.<br/>
                        </p>
                    </div>
                
                <hr/>
                <% } %>
        </div>
    </section>
</body>
</html>